<div style="text-align: center;width: 100%">
    <% 8.times do  %>
        <div>
            <img src="data:image/png;base64,<%= barcode_base64 %>"/>
            <img src="data:image/png;base64,<%= barcode_base64 %>"/>
            <img src="data:image/png;base64,<%= barcode_base64 %>"/>
            <img src="data:image/png;base64,<%= barcode_base64 %>"/>
        </div>
<% end %>
</div>
